body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  padding: 24px;
  width: 60vw;
  height: 60vh;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}
