<div class="block">
  <form class="form-inline search-form binance-form js-binance-form">
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="query"
        placeholder="BTCUSDT"
      />
    </div>
    <button type="submit" class="btn btn-primary">Get Price</button>
  </form>

  <div class="binance-block js-binance-info">
    <img
      class="coin-logo"
      src="https://assets.coincap.io/assets/icons/btc@2x.png"
    />
    <p class="coin-title">SOLUSDT</p>
    <p class="coin-price">48000</p>
  </div>
</div>
