<div class="block">
  <form class="form-inline search-form js-hero-form">
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="query"
        placeholder="Search Hero"
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <div
    class="hero-container fb js-hero-container"
    style="justify-content: start"
  >
    <div class="hero-card card">
      <div class="image-container">
        <img
          src="https://cdn.rawgit.com/akabab/superhero-api/0.2.0/api/images/lg/620-spider-man.jpg"
          alt="#"
          class="hero-image"
        />
      </div>
      <div class="hero-body">
        <h4 class="hero-name">Spider-Man</h4>

        <div class="hero-powerstats">
          <p class="hero-bio">FullName - Peter Parker</p>
          <p class="hero-bio">Publisher - Marvel Comics</p>
          <p class="hero-bio">Alignment - good</p>
          <p class="hero-bio">Gender - Male</p>
          <p class="hero-bio">Race - Human</p>
        </div>

        <div class="hero-powerstats">
          <span>Power: 10</span>
          <span>Strength: 10</span>
          <span>Speed: 10</span>
          <span>Combat: 10</span>
        </div>
      </div>
    </div>
  </div>
</div>
