<div class="block">
  <form class="form-inline search-form js-location-form">
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="userip"
        placeholder="Enter IP"
      />
    </div>
    <button type="submit" class="btn btn-primary">Get Info</button>
  </form>

  <div class="info-card js-ip-form">
    <div class="info-item">
      <img
        class="flag"
        src="https://cdn.ipwhois.io/flags/ua.svg"
        alt="Flag of Ukraine"
      />
      <span class="info-label">Country:</span>
      <span class="info-value">Ukraine </span>
    </div>
    <div class="info-item">
      <span class="info-label">IP Address:</span>
      <span class="info-value">188.163.110.158</span>
    </div>
    <div class="info-item">
      <span class="info-label">City:</span> <span class="info-value">Lviv</span>
    </div>
    <div class="info-item">
      <span class="info-label">Timezone:</span>
      <span class="info-value">Europe/Kiev</span>
    </div>
    <div class="info-item">
      <span class="info-label">Currency:</span>
      <span class="info-value">Ukrainian Hryvnia (UAH)</span>
    </div>
    <div class="info-item">
      <span class="info-label">Currency Rate:</span>
      <span class="info-value">36.92 Ukrainian hryvnias</span>
    </div>
    <div class="info-item">
      <span class="info-label">Completed Requests:</span>
      <span class="info-value">53824</span>
    </div>
  </div>
</div>
