<div class="block">
  <form class="form-inline search-form js-pokemon-form">
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="query"
        placeholder="Enter pokemon name"
      />
    </div>
    <button type="submit" class="btn btn-primary">Get Info</button>
  </form>

  <div class="pokemon-container fb js-pokemon-list">
    <div class="pokemon-card">
      <h1 class="pokemon-name">Bulbasaur - Pokemon Details</h1>
      <img
        data-back="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
        data-front="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
        class="pokemon-image js-pocimage"
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
        alt="Bulbasaur"
      />

      <h2 class="section-title">Basic Information</h2>
      <ul class="info-list">
        <li>ID: 1</li>
        <li>Height: 123 decimetres</li>
        <li>Weight: 234 grams</li>
        <li>Base Experience: 345</li>
      </ul>
      <a class="more-info" href="/ru/pokedex/bulbasaur">More Info</a>
    </div>
  </div>
</div>
