<div class="block">
  <form class="form-inline search-form js-quotes-form">
    <div class="form-group m-2">
      <input
        type="text"
        class="form-control"
        name="query"
        placeholder="Enter Count"
      />
    </div>
    <button type="submit" class="btn btn-primary">Generate</button>
  </form>
  <div class="fb js-container-quotes" style="justify-content: start">
    <div class="card quote">
      <h4 class="quote-name">Cornelius Keagon</h4>
      <p class="quote-body">
        Reading is the greatest thing ever, I've read alot that I know what very
        few people know… That the stars in the night sky are suns and that there
        are earth-like planets orbiting those stars, meaning there are other
        planets like earth out there… Reading is great
      </p>
    </div>
    <div class="card quote">
      <h4 class="quote-name">Cornelius Keagon</h4>
      <p class="quote-body">
        Reading is the greatest thing ever, I've read alot that I know what very
        few people know… That the stars in the night sky are suns and that there
        are earth-like planets orbiting those stars, meaning there are other
        planets like earth out there… Reading is great
      </p>
    </div>
  </div>
</div>
