<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/recipe.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="js-left box">
      <form class="js-formsearch">
        <input name="name" class="js-uservalue" />
        <button type="submit">Find</button>
      </form>
      <ul class="list js-list"></ul>
    </div>

    <div class="js-right box"></div>

    <ul class="js-save-elem box"></ul>

    <script src="../js/modules/recipe.js" type="module"></script>
  </body>
</html>
