<div
  class="block fb"
  style="width: 100vw; justify-content: start; align-items: start"
>
  <form class="form-inline search-form js-translate-form fb fb-v">
    <textarea
      name="text"
      cols="20"
      rows="10"
      placeholder="Enter text"
    ></textarea>

    <input
      type="text"
      class="form-control"
      name="query"
      placeholder="Enter Language"
    />

    <button type="submit" class="btn btn-primary">Translate</button>
  </form>

  <div class="card">
    <p class="translated-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia natus
      officia ea ipsum nemo explicabo provident aliquid deserunt enim, officiis
      reiciendis quo a adipisci dignissimos recusandae ex eius, dolore nostrum.
    </p>
  </div>
</div>
