<div class="block">
  <form class="form-inline search-form js-user-form">
    <div class="form-group m-2">
      <input type="text" class="form-control" name="min" placeholder="" />
      <input type="text" class="form-control" name="max" placeholder="" />
    </div>
    <button type="submit" class="btn btn-primary">Generate</button>
  </form>
  <div class="user-card js-user-container">
    <div class="user-body">
      <h2 class="user-name">Test</h2>
      <ul class="user-info">
        <li class="user-info_item">Phone: 123123</li>
        <li class="user-info_item">Email: 2342342</li>
        <li class="user-info_item">Job: 345345</li>
        <li class="user-info_item">Bitcoin: 2353453</li>
      </ul>
    </div>
  </div>
</div>
