.info-card {
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info-card h1 {
  font-size: 24px;
}

.info-item {
  margin: 5px;
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  font-size: 18px;
}

.info-value {
  font-size: 16px;
}

.flag {
  max-width: 100%;
  vertical-align: middle;
  margin: 0 0 20px 0;
}
